<div class="pull-left activity-verb">  
    <span class="activity-actor"><%=actor.name%></span>  
    <%switch(verb){
        case "CreateAnswer":%>
        <%=labels.activity_posted_solution_on_the%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;                    
        case "CreateQuestion":%>
            <%=labels.activity_asked_a%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;  
        case "FollowKeyword":%>
            <%= labels.activity_start_following %> #<%=content%>
        <% break;
        case "FollowUser": %>
            <%=labels.activity_start_following%> <a href='/users/<%=folloyee.username%>'><%=folloyee.name%></a>
        <% break;
        case 'FollowQuestion':%>
            <%=labels.follow_question%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;                                      
        case 'PickBestAnswer':%>
            <%=labels.activity_accepted_solution_this%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;                      
        case 'UpdateQuestion':%>
            <%=labels.activity_updated%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break; 
        case 'RaiseCredit':%>
            <%=labels.activity_raise_credit_this%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;                    
        case 'UpdateAnswer':%>
            <%=labels.activity_update_solution_for_problem%><a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;  
        case 'FollowBookmarkList' : %>
              <%=labels.activity_follow_list%> <a href='/users/<%=list.user.username%>'><%=list.user.name%></a>'s <%=labels.activity_list%> "<%= list.name%>" <%=labels.activity_list%>
        <% break;
        case 'ReaskQuestion':%>
            <%=labels.activity_reasked%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;  
        case 'Vote':%>
            <%if(answerId) {%>
                <%if(content == 1){%>
                       <%=labels.activity_voted_up_solution_the%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
                <%}else{%> 
                    <%=labels.activity_voted_down_solution_the%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
                <%}%>                                                
            <%} else {%>
                <%if(content == 1){%>
                       <%=labels.activity_voted_up_the%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
                <%}%>                    
            <%}%>
        <%  break;
        case 'ClaimAnswer' :%>
            <%=labels.activity_claim_answer%><a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <%  break;
        case 'BuyAnswer ' :%>
            <%=labels.activity_buy_answer%><a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
        <% break;
        case 'CreateComment':%>
            <%if(answerId) {%>
                <%=labels.activity_wrote_comment_solution_the%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
            <%} else {%>
                <%=labels.activity_wrote_comment_the%> <a href='/questions/<%=question.id%>'><%= labels.problem %></a><%=_.minimizeDescription(question.description, 40)%>
            <%}%>
        <%  break;
       }     
    %>
<span class="time-activites"> &nbsp;<%=_.fuzzyDate(createdOn, true)%>.    </span>
</div>

<div style="clear: both"></div>