<span class="recent-notification"><%=labels.your_recent_activity%></span>
<span class="this-week-activities-title notif-title"><p><%=labels.this_week%></p></span>
<ul class="this-week-activities"></ul>
<span class="older-activities-title notif-title"><p><%=labels.older_than_week%></p></span>
<ul class="older-activities"></ul>