<li class="remain-comments">
   <span ><%=remainCount%></span> <%=labels.more_comments%>
   <img src="/img/ajax-loader.gif" class="loading-img">
</li>

<%if(!notNewComment){%>
<li class="add-new-comment">
    <span style="padding:10px 0px 0px 50px;display:block" >
        <%=labels.add_new_comment%>
    </span>
</li>
<%}%>