<div class="modal fade hide modal-confirm">    
    <div class="modal-body" >              
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <span class="modal-confirm-message"><%=message%></span>
        <div class="btn-confirm-wrapper">            
            <span class="confirm-decline" ><%=labels.decline%></span>
            <span class="confirm-question"><%=labels.accept%></span>
        </div>
    </div>
</div>