<%if(id && id != ''){%><a class='link-question-page' href='/questions/<%=id%>'><%=labels.go_question_page%> →</a><%}%>

<ul class="bxslider ">
    <% _.each(docs, function(doc){ var loc = ''; if(doc.location[0] == '/'){loc = doc.location;}else{ loc = '/' + doc.location;}%>
    <li>
        <!--  150 for margin form top of modal 75 is height of description 26 is height of link to question page 20 for padding for #fff background-->
        <%            
            var height = $(window).outerHeight() - (150 + 75 + 26 + 30);
            var size = $.fn.ResizeImg(doc.height, doc.width, 800, height);
        %>
        <div style="width:<%=size.width%>px;">
            <img src="<%=loc%>?width=<%=size.width%>&height=<%=size.height%>"/>
            <a class="zoom-img" href="<%=loc%>" target="_blank"></a>
        </div>    
    </li>
    <% }); %>
</ul>
<div class="scrollbox3 docs-description">
    <%=_.changeDescription(description, share)%>   
</div>

