<div class="find-friends-step-1" <%if(social){%>style="display:none;"<%}%>>
    <span class="find-friends-title"> 
        <%=labels.findfriends_in_your_addressbook%> <%labels.whoarenot_and_you_want_to_invite%>
    </span>
    <ul class="find-friends-choose">    
        <li class="<%if(providers['facebook'] != undefined){%>select-provider<%}%> facebook" data-provider="facebook">
            <%if(providers['facebook'] == undefined){%>
                <a href="/user/add-provider/facebook?redirect=/findfriends/facebook">
            <%}%>
                <span class="provider"></span>
                <span class="des"><%=labels.findfriends_facebook%></span>
                <%if(providers['facebook'] != undefined){%>
                    <img class="link-account" src="/img/link.png">
                <%}%>    
            <%if(providers['facebook'] == undefined){%>
                </a>
            <%}%>
        </li>
        <li class="<%if(providers['twitter'] != undefined){%>select-provider<%}%> twitter" data-provider="twitter">
            <%if(providers['twitter'] == undefined){%>
                <a href="/user/add-provider/twitter?redirect=/findfriends/twitter">
            <%}%>        
                <span class="provider"></span>
                <span class="des"><%=labels.findfriends_twitter%></span>
                <%if(providers['twitter'] != undefined){%>
                    <img class="link-account" src="/img/link.png">
                <%}%>    
            <%if(providers['twitter'] == undefined){%>
                </a>
            <%}%>                    
        </li>
        <li class="<%if(providers['gmail'] != undefined){%>select-provider<%}%> gmail">
            <%if(providers['gmail'] == undefined){%>
                <a href="/user/add-provider/gmail?redirect=/findfriends/gmail">
            <%}%>        
                <span class="provider" data-provider="gmail"></span>
                <span class="des"><%=labels.findfriends_gmail%></span>
                <%if(providers['twitter'] != undefined){%>
                    <img class="link-account" src="/img/link.png">
                <%}%>    
           <%if(providers['twitter'] == undefined){%>
                </a>
            <%}%>
        </li>
        <li class="select-provider whosolves" data-provider="whosolves">
            <span class="provider"></span>
            <span class="des"><%=labels.search_yourfriend_byname_onWhoSolves%></span>
        </li>
    </ul>
</div>


<div class="find-friends-step-2"  <%if(social){%>style="display:block"<%}%>> 
    <div style='min-height:<%=$(window).height() - 80%>px;padding:10px 0px'>
        <span class="already-in-qolve find-friends-title-s">
            <p><%=labels.follow_your_friends_to_see_their_questions%></p> 
            <a class="follow-all"><%=labels.follow_all%></a>
        </span>
        <ul class="users-already-in-qolve users"></ul>
        <span class="invite-friends find-friends-title-s">
            <p><%=labels.invite_your_other_friends%></p>
            <a class="invite-all"><%=labels.invite_all%></a>
        </span>        
        <ul class="users-invite-friends users"></ul>
    </div>
    <span class="find-friends-done"><%=labels.done%></span>    
</div>

<div class="find-friends-whosolves"> 
    <div class="search-wrapper" style='min-height:<%=$(window).height() - 120%>px;padding:30px 20px 0px 0px'>
        <input id="search-friend-whosolves" type="text" placeholder="<%=labels.search_your_friends%>" class="search-in-whosolves"/>
        <ul class="who-solves users"></ul>
    </div>    
     <span class="find-friends-done"><%=labels.done%></span>   
</div>