<li class="follow-tag-users-wrap" data-id="<%=id%>" data-key ="<%=name%>" data-isFollow="<%=isFollowed%>">
    <a href="/explore/<%=name%>"><span style="color: #474751;" class="tag-name">#<%=name%></span></a>
    <span class="follow-tag-users <%if(isFollowed == 0){%>follow-tag<%}else{%>unfollow-tag<%}%>">
        <%if(isFollowed == 0){%>+ <%=labels.follow%><%}else{%>− <%=labels.unfollow%><%}%>
    </span>
</li>
