<footer class="footer-wrapper clear">
    <div class="container main-footer-wrapper" >               
        <ul class="pull-right">
            <li>             
               <%= labels.whoSolves_Inc%>
            </li>
        </ul>
        <ul class="pull-left">
            <li class="about-qolve">
                <a><%=labels.about%></a>
            </li>
            <li>
                <a href="http://qolveapp.tumblr.com"><%= labels.blog%></a>
            </li>
            <li>
                <a href="/FAQ">FAQ</a>
            </li>
            <li>
                <a href="/help">Help</a>
            </li>
            <li>
                <a href="mailto:support@qolve.com" target="_top">
                    <%= labels.support%>
                </a>               
            </li>            
            <li>
                <a><%= labels.terms %></a>
            </li>
            <li>
                <a><%= labels.privacy%></a>
            </li>                         
        </ul>
    </div>
</footer>