<!--<div id="home-bg"></div>-->
<div id="login-form">        
    <span>
        <img src="/img/home_icon.png"/>
        <span class="login-txt"><%= labels.signIn%></span>
    </span>
</div>
<div class="wrap">
    <div class="home-phones">
        <div id="iphone-overlay">
            <img src="/img/QolveIconAlpha.png">
        </div>
    </div>
    <form class="content send-basic-info">
        <input tabindex="1" class="name" placeholder="Full name" data-label="Full name" name="name" type='text' value=""/>
        <input tabindex="2" name="email" placeholder="Email" data-label="Email" class="email" type='text' value=""/>        
        <input tabindex="3" name="education" placeholder="Education. e.g. college student, college graduate ..." data-label="Education. e.g. college student, college graduate ..." class="education" type='text' value=""/>
        <div class="gender-wrapper signup-item" style="height: 60px;">            
            <input tabindex="4" name="age" placeholder="Age" data-label="Age" class="age" type='text' value=""/>
            <div class="row-gender-wrapper ">
                <div class="set-gender" style="margin-left: 10px;">                            
                    <div class="ui radio checkbox">
                        <input class="male" checked="checked" type="radio" name="gender" value="2"/>
                        <div class="box"></div>
                    </div>                   
                    <label><%=labels.male%></label>   
                </div>
                <div class="set-gender">
                    <div class="ui checkbox radio">
                        <input class="female" type="radio" name="gender" value="1"/>
                        <div class="box"></div>
                    </div>                  
                    <label><%=labels.female%></label>   
                </div>
            </div>
        </div>
        
          <div class="device-type-wrapper">
            <label class="device-type"><%= labels.smartphone_or_tablet%></label>
            <select class="pull-right" name="type">
                <option value="0">iOS</option>
                <option value="1">Android</option>                               
                <option value="2">Windows</option>               
                <option value="3">Don't have </option>
            </select>
        </div>  

        <input tabindex="5" id="keys-required" name="keywords" class="keys" type='text' value=""/>

        <div class="bottom-wrapper">
            <span class="submit-message"></span>
            <a tabindex="6" class="send-invitation"><%= labels.invite_me%></a>
        </div>
    </form>
</div>


<div class="login-box"></div>