<%if(id == 'Uncategorized') user = window.current_user;%>
<div class='list-info'>
    <div class="divider-line"></div>
    <%if(user.id == window.current_user.id){%>
    <img class="del-icon-list" src="/img/cancel-circle.png"/>   
    <%}%>
       
    <div class="extra-info-list">
        <span class='name'>
            <%= name %>
        </span>
        <span class='count'>
            <%if(questions){print(questions)}else{print('0')} %> <%=labels.questions%>
        </span>
        <span class='followed'>
            <%= follows %> <%=labels.people_saved_this_list%>.
        </span>
        
        <%if(user.id != window.current_user.id){%>                         
                <%if(isFollowed == 0){%>    
                     <span class="follow-list-item follow-list">
                    + <%=labels.follow%>
                <%}else{%>
                    <span class="follow-list-item unfollow-list">
                    − <%=labels.unfollow%>
                <%}%>        
            </span>
        <%}%>
    
    </div>
    
    <%if(listKeywords.length > 0){%>
        <div class='tags-wrapper'>          
            <%_.each(listKeywords, function(key){
                print('<span class="show-key" data-key="key.name">' +'#'+ key + '</span>');  
            })%>
        </div>
    <%}%>
</div>




