<span class="recent-notification"><%=labels.your_recent_notfi%></span>
<span class="this-week-notifications-title notif-title"><p><%=labels.this_week%></p></span>
<ul class="this-week-notifications"></ul>
<span class="older-notifications-title notif-title"><p><%=labels.older_than_week%></p></span>
<ul class="older-notifications"></ul>