
<a class="image-wrapper pull-left" href="/users/<%=from.username%>">
    <span class="profile-pic-container-medium">          
        <span class="default-user-large-3">
            <%if(from.imagePath && from.imagePath != null){%>
            <img src="<%=_.setImagePath(from.imagePath)%>?width=50&height=50">
            <%}%>
        </span>                  
    </span>              
</a>

<div class="pull-left notif-verb">
    <%if(from.username && from.username != null){%>
        <a href="/users/<%=from.username%>">    
            <%=from.name%>
        </a>    
    <%}else{%>
        <%=from.name%>
    <%}%>
    <%switch(verb){
            case "CreateAnswer":     
                if (to == 'askers' || to == 'asker'){%>      
                        <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                            <%=labels.notification_askers_wrote_solution_your%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>    
                            <%=labels.notification_reaskers_wrote_solution_your%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>
                <%} else {%>
                    <%if(to == 'mentions'){%>
                        <%=labels.notification_mention_p1_wrote_solution_your%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_mention_p2_wrote_solution_your%><%=_.minimizeDescription(question.description, 40)%>..
                    <%}else{%>
                        <%if(to == 'questionFollowers'){%>
                            <%=labels.notification_questionFollowers_p1_wrote_solution_your%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_questionFollowers_p2_wrote_solution_your%><%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>
                            <%=labels.notification_reaskers_wrote_solution_your%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>  
                    <%}%>     
                <%}%>                
            <%  break;                    
            case "CreateQuestion":
                if (to == 'shareds'){%>                    
                   <%=labels.notification_shared_a%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.with_you%>.
                <%} else {%>
                    <%if(to == 'mentions'){%>
                        <%=labels.notification_mentioned_in%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a>.
                    <%}else{%>
                        <%if(to == 'questionFollowers'){%>
                            <%=labels.asked_a%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>
                            <%=labels.asked_a%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>                        
                    <%}%>    
                <%}%>                
            <%  break;                                                                            
            case 'PickBestAnswer':
               if (to == 'askers' || to == 'asker') {%>
                    <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                        <%=labels.notification_accepted_solution_asker%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}else{%>
                        <%=labels.notification_accepted_solution_reasker%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}%>                    
               <%}else{
                    if (to == 'questionFollowers'){%>                                                                                        
                           <%=labels.notification_accepted_solution_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_accepted_solution_p2%><%=_.minimizeDescription(question.description, 40)%>.                                                   
                    <%}else{ %>  
                        <%if(to == "answerWriter"){%>
                            <%=labels.notification_accepted_your_solution%> <a href='/questions/<%=question.id%>'><%=labels.solution%></a>.                           
                        <%}else{%>                        
                            <%=labels.accepted_solution_the%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.                    
                        <%}%>                                               
                    <%}
               }%>               
            <%  break ;                                                                           
            case 'FollowBookmarkList':%>
               <%=labels.notification_start_following_your_list%>.
            <%  break; 
            case 'FollowQuestion':%>
                <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                    <%=labels.notification_askers_start_following_your%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                <%}else{%>
                    <%=labels.notification_reaskers_start_following_the_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_reaskers_start_following_the_p2%><%=_.minimizeDescription(question.description, 40)%>.
                <%}%>
               
            <%  break; 
            case 'FollowUser':%>
               <%=labels.notification_start_following_you%>.
            <%  break; 
            case 'RaiseCredit':
                if (to == 'askers' || to == 'asker') {%>
                    <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                        <%=labels.notification_raise_credits_askers_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_raise_credits_askers_p2%><%=_.minimizeDescription(question.description, 40)%>.
                    <%}else{%>
                        <%=labels.notification_raise_credits_reaskers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}%>                    
                <%} else {
                    if (to == 'questionFollowers'){%>          
                           <%=labels.notification_raise_credits_question_follower_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_raise_credits_question_follower_p2%><%=_.minimizeDescription(question.description, 40)%>.            
                    <%}else{%>
                         <%=labels.raise_the_credit_of%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}%>
                <%}%>
            <%  break;                    
            case 'UpdateAnswer':
                if (to == 'askers' || to == 'asker') {%>
                    <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                        <%=labels.notification_updated_solution_your_askers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}else{%>
                        <%=labels.notification_updated_solution_your_reaskers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}%>                    
                <%} else {%>
                    <%if(to == 'mentions'){%>
                        <%=labels.notification_updated_solution_mentions_p1%> <a href='/questions/<%=question.id%>'><%=labels.solution%></a> <%=labels.notification_updated_solution_mentions_p2%>.
                    <%}else{%>
                        <%if (to == 'questionFollowers'){%>
                            <%=labels.notification_updated_solution_follower_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_updated_solution_follower_p2%><%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>                        
                            <%=labels.updated_solution_ofthe%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>
                    <%}%>    
                <%}%>
            <%  break;  
            case 'UpdateQuestion':
                if (to == 'shareds') {%>                    
                    <%=labels.notification_updated_question_shareds_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_updated_question_shareds_p2%> <%=labels.shared_with_you%>.        
                <%} else if (to == 'questionFollowers') {%>
                     <%=labels.notification_updated_question_follower_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_updated_question_follower_p1%><%=_.minimizeDescription(question.description, 40)%>.
                <%}
                if(to == 'askers') {%>                    
                   <%=labels.notification_updated_question_askers_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_updated_question_askers_p2%><%=_.minimizeDescription(question.description, 40)%>.                                        
                <%}else{%>
                     <%if(to == 'mentions'){%>
                        <%=labels.updated_the%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.which_ur_mentions%>.
                     <%}%>         
                <%}%>
            <%  break;
            case 'ReaskQuestion':
                if (to == 'askers' || to == 'asker') {%>
                    <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                        <%=labels.notification_reask_askers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}else{%>
                        <%=labels.notification_reask_reaskers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}%>                   
                <%} else {
                    if (to == 'questionFollowers'){%>                       
                        <%=labels.notification_reask_question_follow_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_reask_question_follow_p2%><%=_.minimizeDescription(question.description, 40)%>.                       
                    <%}else{%>
                         <%=labels.reasked_the%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                    <%}%>
                <%}%>
            <%  break;
            case 'Vote':
                if (answerId) {                    
                   if (to == 'answerWriter') {%>
                        <%if(content == 1){%> 
                             <%=labels.notification_voted_up_solution%> <a href='/questions/<%=question.id%>'><%=labels.solution%></a>.                     
                         <%} else {%>
                             <%=labels.notification_voted_down_solution%> <a href='/questions/<%=question.id%>'><%=labels.solution%></a>.                     
                         <%}%>
                   <%}%>
                <%} else {
                    if (to == 'askers' || to == 'asker') {%>                        
                         <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                            <%=labels.notification_voted_up_askers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>
                            <%=labels.notification_voted_up_reaskers_p1%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=labels.notification_voted_up_reaskers_p2%><%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>                            
                    <%}%>
               <% }%>
            <%  break;                            
            case 'WriteComment':
                if (answerId) {
                    if (to == 'askers' || to == 'asker') {%>
                        <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                            <%=labels.notification_add_comment_solution_askers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>
                            <%=labels.notification_add_comment_solution_reaskers%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>                         
                    <%} else {
                        if (to == 'answerWriter') {%>                            
                            <%=labels.notification_add_comment_solution%> <a href='/questions/<%=question.id%>'><%=labels.solution%></a>.
                        <%} else {%>
                            <%=labels.wrote_comment_solution_the%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>. 
                        <%}
                    }
                } else {
                    if (to == 'askers' || to == 'asker') {%>
                        <%if(question.isAsked == '11' || question.isAsked == '12'){%>
                            <%=labels.notification_add_comment_askers %> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}else{%>
                            <%=labels.notification_add_comment_reaskers %> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>.
                        <%}%>                         
                    <%} else {%>
                         <%=labels.wrote_comment_the%> <a href='/questions/<%=question.id%>'><%=labels.problem%></a> <%=_.minimizeDescription(question.description, 40)%>. 
                    <%}%>
                <%}%>
            <%  break;           
        }%>    
<span class="time-notification"> <%=_.fuzzyDate(createdOn, true)%>     </span>
</div>

<div style="clear: both"></div>