<div class='social-btn-wrapper'>
    <span class='share-facebook share-question-url' data-share='facebook'></span>
    <span class='share-twitter share-question-url' data-share='twitter'></span>
    <span class='share-gmail share-question-url' data-share='gmail'></span>
</div>
<div class="question-page-item"></div>
<div class="answers">
    <div class="answer-count answer-count-sen <%if(answers > 0){print('solution-count');}%>">        
           <%if(answers > 0){
                print(answers);
                if(answers == 1)
                    print('&nbsp;&nbsp;Answer');
                else    
                    print('&nbsp;&nbsp;Answers');
            }else{              
                if(askers == 1){
                    print('1 ' + labels.person_is_waiting_for_solution);
                }else{
                    print(askers + ' ' + labels.people_are_waiting_for_solution)
                }    
            }%>
    </div>
    <div class="answers-list"></div>
</div>
