<div class="question-item">   
    <a class="bookmark-question-wrapper">
       <span data-toggle="tooltip" data-placement="top" data-original-title="Save this question to a list" class="bookmark-question" ></span>
    </a>
    
    <%if(status == 2 || status == 3){%>
        <a class="question-status-wrapper">               
            <span data-toggle="tooltip" data-placement="top" data-original-title="Question solved" class="solved-question" ></span>
        </a>  
    <%}else 
        if(deadline && deadline != 'null' && deadline != '' && deadline != null && new Date(deadline).getTime() < new Date().getTime()){        
    %>       
        <a class="question-status-wrapper">               
            <span data-toggle="tooltip" data-placement="top" data-original-title="Question's deadline passed" class="closed-question" ></span>
        </a> 
    <%}%>
    
    <div class="badge-container" <%if(lastVoters != null && lastVoters != undefined){print('style="padding:10px 0px 39px 0px"')}%>>
         <%if(lastVoters != null && lastVoters != undefined){
            if(lastVoters.length == 1){
                print(lastVoters[0].name + ' votes this.')
            }
            if(lastVoters.length == 2){
                print(lastVoters[0].name + ' and ' +  lastVoters[1].name + ' vote this.')
            }
            if(lastVoters.length > 2){
                print(lastVoters[0].name + ' and ' +  lastVoters[1].name + ' and ' + _.fuzzyNum(votes - 2) + ' others vote this.')
            }
         }%>
    </div>

    <div class="left-panel">        
        <%if(page != 'questionPage'){%>
        <a data-toggle="tooltip" data-placement="top" data-original-title="Go to question" href="/questions/<%=id%>" class="post_permalink"></a>
        <%}%>
        
        <div class="container-profile-info">
             <% if(_showUser){%>
             <%if(asker.id && asker.id != null){%>
             <a class="image-wrapper-76 "href="/users/<%=asker.username%>">
                <%}%>    
                <span class="profile-pic-container-large">          
                    <span class="default-user-large-4">
                        <%if(asker.imagePath && asker.imagePath != null){%>
                        <img src="<%=_.setImagePath(asker.imagePath)%>?width=70&height=70"/>
                        <%}%>    
                    </span>                  
                </span>              
                <%if(asker.id && asker.id != null){%>
            </a> 
            <%}%>
            <span class="user-name">
                <%if(asker.id && asker.id != null){%>
                <a class="hover-on-username" href="/users/<%=asker.username%>">
                    <%}%>        
                    <%=asker.name%>
                    <%if(asker.id && asker.id != null){%>         
                </a>
                <%}%>
            </span>                      
            <%}%>       
            <span class="user-name time update-time" data-user="true" data-date="<%=createdOn%>">           
                <%=_.fuzzyDate(createdOn, true)%>           
            </span>
        </div>        
        
        <div class="votes-question-wrapper <%if(isVoted == 1) print('voted-active')%>">   
            <div id='vote-animate-wrapper'>
                <span class="votes-count-wrap  vote-item " data-score ='1'>
                    <span class="votes-count"><%=_.fuzzyNum(votes)%></span>   
                    <span class="btn-vote"><%if(isVoted == 1){print('Upvoted');}else{print('Upvote');}%></span>
                </span>    
            </div>
        </div>
    </div>
     <%if(documentsList && documentsList.length > 0){%> 
     <div class="right-panel">
     <%}%>    
    <%if(documentsList && documentsList.length > 0){%> 
        <div class="entry-content-container item-page-doc" data-type="question">        
            <div class="entry-content">                          
                <img src="<%=_(documentsList).documentItem()%>">                
                <span class='documentsList-count'><%=documentsList.length%> <%if(documentsList.length == 1){print('photo')}else{print('photos')}%></span>
            </div>            
        </div>
    <%}%>

    <span class="description-time"  <%if(!documentsList || documentsList.length == 0){%>style="min-height:124px"<%}%> <%if(!documentsList || (documentsList && documentsList.length == 0)){ print('no-doc-question')}%>>
        <% if(description && description != 'null' && description != null){
          print(_.changeDescription(description, share));
        }%>      
    </span>
    
     <%if(documentsList && documentsList.length > 0){%> 
    </div>
     <%}%>
    <ul class="time-question">
         <%if(deadline && deadline != 'null' && deadline != '' && deadline != null && status != 3){%>
        <li class="time">                             
            <span class="fuzzy-date update-time" data-user="false" data-date="<%=deadline%>"> 
                <%=_.fuzzyDate(deadline, false) %> 
            </span>            
        </li>
        <%}%>
        <li class="credit">                        
            <span class="credit-declare <%if(deadline && credits > 0 && new Date(deadline) < new Date()){print('deadline-passed')}%>">
                <% print(_.creditCheck(deadline, credits))%>                       
            </span>
        </li>
    </ul>

    <div class="bottom-side-wrapper">  
        <% if(privacy != 1){%>
        <img class="share-people" src="/img/lock.png" data-toggle="tooltip" data-html="true"   data-title="<% for(var i = 0;  i < Math.min(share.length, 3); i++){%><span><%= share[i].name%></span></br><%}%> <%if(share.length > 3){%><span><% print('And ' + (share.length  - 3) + ' others ')%></span><%}%>" />  
        <%}%> 
        <ul class="data-icon ">   
            <%if(window.current_user && window.current_user.id) {%>
            <li class="reask-question action-item menu-wrapper">
                <%}else{%>    
            <li class="action-item menu-wrapper">
                <%}%>                
                <%if(isAsked != 0){%>
                    <span  class="reaskActive icone-reask"></span>
                    <span class='fuzzy-num fuzzy-num-active'>
                <%}else{%>
                    <span  class="reaskInactive icone-reask"></span>
                    <span class='fuzzy-num'>
                <%}%>                   
                <% if((askers - 1) == 0){
                    if(isAsked != 0){
                        print(labels['raise']); 
                    }else{   
                    print(labels['reask']); 
                    }
                }else{
                    print(_.fuzzyNum(askers - 1));
                } %>
                </span>
            </li>
            
            <li class="action-item answer-count-question <% if(page != 'questions'){print('menu-wrapper');}%>">                    
                <% if(page == 'questions'){%>
                    <a href='/questions/<%=id%>' class='menu-wrapper'>
                <%}%>     
                <%if(userAnswerId != null){%>                
                    <span class="icone active-answer"></span>
                    <span class='fuzzy-num fuzzy-num-active'>
                <%}else{%>
                    <span class="icone inActive-answer"></span>                
                    <span class='fuzzy-num'>
                <%}%>                               
                <% if(answers == 0){ print('Answer') }else{print(_.fuzzyNum(answers));} %>
                </span>                    
                <% if(page == 'questions'){%>
                    </a>  
                <%}%>
            </li>                

            <% if(page == 'questions'){%>            
                <li class="action-item comment-count" >                                              
                    <a href='/questions/<%=id%>' class='menu-wrapper'>
                    <span class="icone commentInactive"></span>                               
                    <span class='fuzzy-num '>
                       <%= labels.comments%>
                    </span>
                    </a>            
                </li>            
            <%}else{%>                        
                <li class='activeIcon show-comments-list action-item comment-count menu-wrapper'>                    
                    <span class="icone commentInactive"></span>       
                    <span class='fuzzy-num'>
                        <%= labels.comments%>
                    </span>     
                </li>
            <%}%>  

            <li class="pull-right more-items action-item menu-wrapper">             
                <img class='dots-img' src="/img/moremenu.png"/>                             
                <ul class="dropdown-menu more-items-menu nav-menu " role="menu">
                    <li class='copy-link-clipboard' data-link='/questions/<%=id%>'>                   
                        <a><%=labels.copy_link_question%></a>
                    </li>
                    
                    <%if(editable == 1){%>
                        <li>                                    
                            <a href="/editQuestion/<%=id%>"><%= labels.edit%></a>
                        </li>                        
                    <%}%>
                    
                    <%if(page != 'questionPage'){%>
                        <li class='share-question-url'>                   
                            <a><%=labels.share%></a>
                        </li>
                    <%}%>

                    <li class="report-question">                                    
                        <a><%=labels.report_markAsSpam%></a>
                    </li>    
                    
                    <%if(editable == 1 && page == 'questionPage'){%>
                        <li class="delete-question">                                    
                            <a><%= labels.delete%></a>
                        </li>                        
                    <%}%>
                </ul>
            </li>  
        </ul>
    </div>  
</div>
<div class="comments-list-wrapper"></div>
