<div class="modal hide modal-reask fade " data-credit ="0" data-visibility="1">
    <div class="modal-body ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div>
            <img id="not-enough-credits" src="/img/noEnCredit.png">
            <form>                
                <div class="slider-wrapper">
                    <div class="left-side-reask">
                        <div class="up-container">
                            <span class="slider-mount-shown"><%=labels.free%></span>
                            <span class="slider-reask"></span> 
                        </div>
                        <div class="btn-wrapper">                            
                            <div style="height: 36px;">
                                <div class="btn btn-submit nothanks-btn"><%=labels.no_thanks%></div>
                                <div class="btn btn-submit reask-btn" ><%=labels.reask%></div>                            
                            </div>                     
                            <div class="set-visibility">
                                <div class="ui checkbox">                        
                                    <input class="question-reask-visibility" type="checkbox" name="visibility" value="2"/>
                                    <div class="box"></div>
                                </div>                                 
                                <label class="anonymous"><%=labels.as_anonymous%></label>
                            </div>
                        </div>
                    </div>

                </div>                
            </form>
        </div>
    </div>
</div>

<div class="modal hide modal-documents">
    <div class="modal-body" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div class="show-docs"></div>
    </div>
</div>

<ul class="questions-list"></ul>




