<span class='reset-your-pass'>
    Reset your password
</span>

<div class='new-pass-reset'>   
    <input type='password' class='new-pass' placeholder="<%=labels.reset_your_password%>"/>
    <div class="password-strength-wrapper">
        <div class="progress progress-success progress-striped">
            <div class="bar" style="width: 0%"></div>
        </div>
        <span class="sr-only"><span class="val-strength" >0</span>% <%=labels.password_strength%></span>                                     
    </div>
   
    <input type='password' class='new-confirm-pass' placeholder="<%=labels.renter_password_confirm%>"/>
</div>
<div class='save-pass' style='height: 36px'>
    <span class="error-valdiation"><%=labels.there_error_try_later%></span>
    <span class='save-password-btn'>
        <%=labels.save_password%>
    </span>        
</div>

