<div class="modal hide modal-share fade " data-credit ="0" data-visibility="1">    
    <div class="modal-body">      
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div>            
            <%= labels.the_socialnetwroks_are_disabled_for_Alphaversion%>
            <textarea placeholder="Optional message"></textarea>
            <div class='share-part-url'>
                <label style='display: inline-block'>Share link:</label>
                <span></span>
            </div>
        </div>       

        <div class="btn-wrapper">                                        
            <div style="height: 36px;margin-top: 15px;">
                <div class="social-share-wrapper">                
                    <span class='share-facebook' data-share='facebook'></span>                
                    <span class='share-twitter' data-share='twitter'></span>                
                    <span class='share-gmail' data-share='gmail'></span>                
                </div>               
<!--                <div class="btn btn-submit share-btn">Share</div>                            -->
                 <div class="btn btn-submit cancel-btn" style="margin-right: 0px;"><%= labels.share%></div>             
                <div class="btn btn-submit cancel-btn"><%= labels.cancel%></div>
            </div>                                         
        </div>
    </div>
</div>