<div class='user-wrapper'>
    <span class="default-user-large-4">
        <%if(id && id != null){%>
            <a class="image-wrapper-user pull-left" href="/users/<%=username%>">    
        <%}%>    
            <%if(imagePath && imagePath != null){%>
                <%if(setImageSize){%>
                    <img src="<%=_.setImagePath(imagePath)%>?width=70&height=70">
                <%}else{%>    
                    <img src="<%=_.setImagePath(imagePath)%>">
                <%}%>
            <%}%>
        <%if(id && id != null){%>    
            </a>
        <%}%>
    </span>
    
   <%if(window.current_user && window.current_user.id && window.current_user.id != id){%>
        <%if(invite){%>        
                <span class='invite-img invite-item-change-status'></span>                
        <%}else{%>
            <%if(isFollowed == 0){%>
            <span class='follow-img follow-item-change-status'></span>
            <%}else{%>
                <span class='unfollow-img follow-item-change-status'></span>
            <%}%>    
        <%}%> 
    <%}%>
</div>

<span class="user-about-info">
    <%if(id && id != null){%>
        <a href="/users/<%=username%>">
    <%}%>        
        <span class="hover-on-username  username"><%=name%></span>
    <%if(id && id != null){%>    
        </a>    
    <%}%>
    <span class="about-user"><%=about%></span>
</span>