.edit-profile{        
    background: url("/img/body_split.png") repeat-y 234px 50%;
    width: 800px;
}

.edit-profile .side-bar-content ul{
    margin: 0px;
}

.edit-page-content .new-one-img:hover{
    color:#0099cc;
    text-decoration: underline;
    cursor: pointer;
}

.edit-page-content .password-strength-wrapper{
    height: 10px;
    margin-top: 24px;
    position: relative;
    margin: 6px;
    width: 496px;
}

.edit-page-content .progress-success{
    height: 5px;
    width: 230px;
}

.edit-page-content .sr-only{
    position: absolute;
    font-size: 10px;
    top: -6px;
    right: 0px;
}

.edit-page-content .new-one-img{
    padding: 14px 0px 14px 10px;
    display: inline-block;
    font-size: 11px;
}

.edit-page-content #change-password, .edit-page-content #manage-social{
    display: none;
}

.edit-page-content .bootstrap-select button{
    background-color: #fff;
}

.edit-page-content input:focus, .edit-page-content textarea:focus{
    outline: 0;
    border: 1px solid #ccc;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px #eee,0 0 8px #eee;
    -moz-box-shadow: inset 0 1px 1px #eee,0 0 8px #eee;
    box-shadow: inset 0 1px 1px #eee,0 0 8px #eee;
}

#manage-social div.social-net #facebook{
    background-position: 0px 0px;
    width: 39px;
    height: 42px;
    background-image: url('/img/socialButtons.png');
    display: block;
    float: left;
}

#manage-social div.social-net #twitter{
    background-position: 84px 0px;
    width: 39px;
    height: 42px;
    display: block;
    float: left;
    background-image: url('/img/socialButtons.png');
}

#manage-social div.social-net #google-plus{
    background-position: 42px 0px;
    width: 39px;
    height: 42px;
    display: block;
    float: left;
    background-image: url('/img/socialButtons.png');
}

#manage-social .form-text:hover #facebook{
    background-position: 0px 42px;    
}

#manage-social .form-text.facebook-connect:hover .connection-type{
    color: #335597;    
}

#manage-social .form-text:hover #twitter{
    background-position: 84px 42px;
}

#manage-social .form-text.twitter-connect:hover .connection-type{
    color: #30d8f0;    
}

#manage-social .form-text:hover #google-plus{
    background-position: 42px 42px;    
}

#manage-social .form-text.google-plus-connect:hover .connection-type{
    color: #c61800;
}

#manage-social .social-net:hover{
    background-color: #eee;
}

#manage-social .connection-type{
    display: block;
    margin-top: 12px;
    margin-left: 72px;
}

#manage-social div.social-net{
    margin: 0px;
    padding: 3px 8px;
    cursor: pointer;
    width: 185px;
    height: 45px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.edit-page-content{
    margin-left: 257px;
    position: relative;
}

.edit-page-content .edit-profile-form{
    padding: 43px 0px 0px 0px;
}

.edit-page-content .edit-profile-form li.form-text{
    padding: 5px 5px 5px 0px;
    list-style: none;
    margin:3px 0px 0px 0px;
    height: 45px;
    position: relative;
}

.edit-page-content .loading-img-wrapper{
    position: relative;    
    height: 40px;
    width: 40px;
    float: left;   
}

.edit-page-content .loading-img-wrapper div{
    position: absolute;        
    left: -5px;
    top: 6px;
    display: none;
}

.edit-page-content .edit-profile-form textarea{
    width: 345px;
    height: 40px;
    background-color: #fcfcfc;
    padding: 9px 8px 9px;
    resize: none;
    margin: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.edit-page-content .btn-submit:hover{
    background-color: #0099cc;
}

.edit-page-content .btn-submit{
    width: 120px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-shadow: none;
    background-color: #0099cc;
    background-image: none;
    font-size: 14px;    
    text-align: center;
    vertical-align: middle;
    padding: 8px 0px;
    border: none;
    float: right;
    margin-right: 40px;
}

.edit-page-content .edit-profile-form input{
    margin:0px;
    padding: 9px 8px 9px ;
    width: 345px;    
    background-color: #fcfcfc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.edit-page-content .delete-account{
    width: 300px;
    color: #64B5dd;
    font-size: 14px;
    cursor: pointer;
    margin-top: 32px;
    display: block;
}

.edit-page-content ul{
    margin: 0px;
}

.edit-profile-form .error-signup {
    color: #e14c37;
    display: none;
    font-size: 12px;
    background: url('/img/info.png') no-repeat 0px 1px;
    padding-left: 20px;
    margin-left: 140px;
}

.edit-profile-form .correct-username{
    display: none;
}

.edit-page-content label{
    width: 140px;
    font-size: 14px;   
    color: black;
    float: left;
    padding: 14px 0px;
    cursor: default;
}

.bio-limitation{
    display: block;
    font-size: 13px;
    color: gray;
    font-weight: normal;
}

.side-bar-content{
    padding-top: 100px;   
    width: 235px;
    float: left;
}

.side-bar-content ul2{
    top: 100px;
    bottom: 0px;    
    width: 256px;
}

.side-bar-content li a{
    font-size: 14px;
    color:#7A7A7A;    
}

.side-bar-content li.active .disclosure{
    background: url('/img/QolveUserSettingsGerdali.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 14px;
    right: -20px;
    top:15px;
}

.side-bar-content li:hover a, .side-bar-content li.active a{
    color:black;
    padding-left: 8px;
    transition: all 0.25s;
    -webkit-transition: padding-left 0.25s; /* Safari */
}

.side-bar-content li a{
    padding-left: 0px;
    transition: all 0.25s;
    -webkit-transition: padding-left 0.25s; /* Safari */
}

.side-bar-content li a:hover{
    text-decoration: none;
}

.side-bar-content li:first-child{
    background-color: transparent;
    cursor:default;
    padding: 11px 5px 11px 12px;
    font-weight: bold;
}

.side-bar-content li{
    position: relative;
    display: block;
    font-size: 14px;
    color: #929292; 
    padding: 11px 5px 11px 25px;
    list-style: none;
    background-color: #E7E7E7;
    text-align: left;
    cursor: pointer;
    margin: 2px 0px 2px 0px;  
}

.alert-qolve{
    visibility: hidden;
    width: 80%;
    min-height: 0;
    margin:50px auto 0px;
    padding: 11px 12px 9px;
    -webkit-border-radius: 4px;
    display: block;
    border-radius: 4px;    
}

.alert-error-qolve{
    color: #C41010;
    background-color: #f2dede;
    text-shadow: none;
    border: 1px solid #E9BDC4;
    position: relative;
    top: 20px;
    font-size: 12px;
}

.alert-success-qolve{
    color: #468847;
    background-color: #dff0d8;
    border: solid 1px #dff0d8;
    position: relative;
    font-size: 12px;
    top: 20px;
}

.gender-lable-type{
    padding: 0px;    
}

.edit-profile-form .birthday-wrapper{
    padding : 5px 0px;
}

.edit-profile-form .bootstrap-select button{
    padding: 9px 0px;
}

.edit-profile-form .birthday-wrapper .bootstrap-select{   
    margin-bottom: 0px;
}

.edit-profile-form .ui.radio.checkbox{
    padding: 6px 0px;
}

.gender-wrapper-label lable{
    width: 100px;

}