.navabr-signup{
    background-color: #474752;
    background-image: -moz-linear-gradient(top,#474752,#474752);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#474752),to(#474752));
    background-image: -webkit-linear-gradient(top,#474752,#474752);
    background-image: -o-linear-gradient(top,#474752,#474752);
    background-image: linear-gradient(to bottom,#474752,#474752);
    background-repeat: repeat-x;
    border-color: #474752;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 333;
    text-align: center;
    color: #fff;
}

.page-signup .basic-info{
    width: 376px;
    height: 160px;
    position: relative;
    padding-left: 300px;
    padding-top: 50px;
}

.page-signup input.error-validation{
    border: 1px solid #d52027;
    box-shadow: 0px 0px 5px rgba(213,32,39,0.2) !important;
    background-color: #ffeded;    
    color: rgba(213,32,39,0.7);
}

.page-signup input[type=text]:not(.error-validation):focus, .page-signup input[type=password]:not(.error-validation):focus{
    border: 1px solid #0099cc;
    box-shadow: 0px 0px 7px rgba(0, 153, 204, 0.3) !important;
}

.page-signup .noset-error-signup{
    display: none;
}

.page-signup .error-slider{
    position: relative;
}

.page-signup .error-slider input:focus{
    border: 1px solid #ccc !important;
    box-shadow: 0px 0px 5px rgb(238, 228, 226) !important;
}

.page-signup .next-to-tags{
    width: 120px;
    background-color: #0099cc;
    background-image: none;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0px;
    position: relative;
    border: none;
    border-radius: 3px;
    color: white;    
    cursor: pointer;
    display: block;    
    margin: 10px 25px;
    float: right;
}

.page-signup .error-slider input{
    background-color: rgb(238, 228, 226) !important;
}

.page-signup .error-slider span{
    width: 2px;
    position: absolute;
    background-color: rgb(236, 125, 97);
    top: 0px;
    bottom: 0px;
    z-index: 33;
}

.page-signup .name-wrap, .page-signup .email-wrap, .page-signup .password-wrap, .page-signup .username-wrap{
    position: relative;
    margin-bottom: 10px;
}

.page-signup .name-wrap .correct-name, .page-signup .email-wrap .correct-email, .password-wrap .correct-password, .username-wrap .correct-username{    
    right: 10px;
    position: absolute;    
    top: 9px;
}

.page-signup .basic-info input{
    width: 344px;
    padding: 8px 15px;
    box-shadow: none;
    margin:0px;
}

.page-signup .left-upload{
    position: absolute;
    top: 33px;
    left: 0px;
    width: 300px;
}

.page-signup .error-signup{
    color: #e14c37;
    display: none;
    font-size: 12px;
    background: url('/img/info.png') no-repeat 1px 2px;
    padding-left: 20px;
}

.page-signup .username-set{
    width: 550px;
    margin: auto;
}

.page-signup .username-set .birthday[type=text]{
    width: 485px;
}

.page-signup .username-set .box{
    width: 15px;
    height: 15px;        
}

.page-signup .username-set .checkbox{
    padding: 0px;
    position: relative;
    top:-5px;
    margin-right: 3px;
}

.page-signup .gender-wrapper{
    padding: 10px 0px 0px 0px;
}

.page-signup .gender-wrapper-label{
    margin: 0px;
}

.page-signup .upload-img{
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.page-signup .accept-term{
    padding-top: 20px;
    margin-bottom: 10px;    
}
.page-signup .next-register.deactive{
    background-color: #eee;    
    border:1px solid #ccc;
    color: #ccc;
}

.page-signup .next-register{
    width: 120px;
    background-color: #0099cc;
    background-image: none;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0px;
    position: relative;
    border: none;
    border-radius: 3px;    
    color: white;    
    cursor: pointer;
    display: block;
    margin:4px 0px 18px 0px;
    float: right;
}

.page-signup .accept-term label{
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
}

.page-signup .username-set .set-gender{
    display: inline-block;
    width: 135px;    
}

.page-signup .bootstrap-select  button{
    background-color: #fff;
    padding: 8px ;
}

.page-signup .timezone-wrap{
    margin-top: 10px;
}


.page-signup .birthday-signup{
    margin-top: 10px;
}

.page-signup .signup-label{
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: bold;
}

.page-signup .username-set .set-gender label{
    width: 85px;
    display: inline-block;
}

.page-signup .username-set input[type=text], .page-signup .username-set input[type=password]{
    width: 533px;
    padding: 8px 8px;
    box-shadow: none;
    margin:0px;
}

.page-signup .birthday-wrapper{
    width: 564px;
    height: 32px;
}

.page-signup .birthday-wrapper select{
    width: 170px;
}

.page-signup .correct-username, .page-signup .correct-password, .page-signup .correct-email, .page-signup .correct-name{
    display: none;
}

.page-signup .username-set .add-on{
    padding: 8px 15px;
    margin: 4px 0px;
}

.page-signup .about-wrapper{
    margin-top: 10px;
}

.page-signup .basic-info .user-upload-img-wrapper img{
    width: 100px;
    height: 100px;
}

.page-signup .about:focus{
    border:1px solid #ccc;
}

.page-signup ul.users{    
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px ;
    border-top: 0px ;
}

.page-signup .about{
    width: 546px;
    background-color: #fcfcfc;
    padding: 9px 8px 9px 8px;
    resize: none;
    margin: 4px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.page-signup .divider-next{
    border-top: 1px solid #ccc;
    position: relative;
    right: 0px;
    left: -100px;
    width: 800px;
}

.page-signup .basic-info .user-upload-img-wrapper{
    width: 100px;
    height: 100px;
    /*border: 1px solid #0099cc;*/
    display: block;
    margin: 5px auto 5px auto;    
    border-radius: 50% 50% 50% 50%;
    padding: 6px;
    background-color: transparent;
}

.page-signup .basic-info .user-img-upload{
    display: block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    background: url("/img/user100.png") no-repeat scroll 50% 50% #ccc !important;  
}

/*
* PAGE FIND FRIENDS
*/

.page-signup .find-friends-title{    
    width: 100%;
    padding: 10px 0px;
    background-color: #f0f4f5;
    border-top: 1px solid #DAE4E6;
    border-bottom: 1px solid #dae4e6;
    display: none;
    margin: 15px 0px;
}

.page-signup .find-friends-title a:hover{
    text-decoration: none;
}

.page-signup .invite-friends{
    border-top: 1px solid #ccc;
}

.page-signup .find-friends-title a{
    cursor: pointer;
    color: #0099cc;
    float: right;
    padding-right: 15px;
}

.page-signup .find-friends-title p{    
    margin: 0px 0px 0px 15px;
    font-size: 14px;
    display: inline-block;
}

/*
*   FOLLOW TAGS
*/

.page-signup .follow-tag-wrap{
    padding: 25px;
}

.page-signup .follow-tags-title{ 
    display: inline-block;
    font-size: 14px;

}

.page-signup ul.show-tags .follow-tag:hover{
    color:#0088bb;
}

.page-signup ul.show-tags .follow-tag{
    display: inline-block;
    float: right;    
    width: 55px;   
    color:#0099cc;
}

.page-signup ul.show-tags .unfollow-tag:hover{
    color: #aaa;
}

.page-signup ul.show-tags .unfollow-tag{
    display: inline-block;
    float: right;
    width: 63px;    
    color: #ccc;
}

.page-signup ul.show-tags{
    margin: 10px 25px 10px 25px;
}

.page-signup ul.show-tags li{
    padding: 8px 10px;
    list-style: none;
    border-top: 1px solid #eee;
    cursor: pointer;
    font-size: 13px;
}

.page-signup ul.show-tags li:last-of-type{
    border-bottom: 1px solid #eee;
}

.page-signup .tag-name.active{
    color : #3fba75;
}

.page-signup .sign-up-indicator img{
    width: 800px;
}

.page-signup .sign-up-indicator{
    position: absolute;
    top: 75px;    
}

.page-signup .sign-up-indicator .auth-indicator{
    display: inline-block;
    position: relative;
    left: -12px;
}

.page-signup .sign-up-indicator .account-info-indicator{
    display: inline-block;
    position: relative;
    left: 143px;
}

.page-signup .sign-up-indicator .follow-tags-indicator{
    display: inline-block;
    position: relative;
    left: 458px;
}

.page-signup .sign-up-indicator .follow-friens-indicator{
    display: inline-block;
    position: relative;
    left: 313px;
}

.page-signup .follow-btn-title.active{
    background-image: url('/img/TagsChecked.png');
}

.page-signup .next-home.deactive{
    background-color: #eee;    
    border:1px solid #ccc;
    color: #ccc;
}

.page-signup .next-home{
    width: 120px;
    background-color: #0099cc;
    background-image: none;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0px;
    position: relative;
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    margin: 10px 25px 18px 25px;
    float: right;
}

.page-signup input.search-tags{
    padding: 8px 10px;
    margin-top: 10px;
    width: 730px;
    margin-left: 25px;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.page-signup .follow-btn-title{
    background-image: url('/img/TagsNotChecked.png');
    width: 30px;
    height: 30px;
    top: 10px;
    position: relative;
    display: inline-block;
}

.page-signup .password-strength-wrapper{
    position: relative;
    width: 376px;
    height: 7px;
    text-align: right;
    margin-top: 5px;
}

.page-signup .password-strength-wrapper .progress{
    height: 5px;
    width: 254px;
}

.page-signup .password-strength-wrapper .sr-only{
    position: absolute;
    font-size: 10px;
    top: -6px;
    right: 0px;
}