<footer class="footer-wrapper clear">
    <div class="container main-footer-wrapper" >               
        <ul class="pull-right">
            <li>
                © 2013  WhoSolves Inc
            </li>
        </ul>
        <ul class="pull-left">
            <li class="about-qolve">
                <a>About</a>
            </li>
            <li>
                <a>Contact us</a>
            </li>
            <li>
                <a>Help</a> 
            </li>
            <li>
                <a>Jobs</a>
            </li>            
        </ul>
    </div>
</footer>