<?php echo $this->doctype(); ?>



<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php
           $result = $this->identity();
            if ($result) {
                $user = array(
                    "id"            => $result->getId(),
                    "email"         => $result->getEmail(),
                    "username"      => $result->getUsername(),
                    "name"          => $result->getName(),
                    "imagePath"     => $result->getImagePath(),
                    "about"         => $result->getAbout()
                );
            } else {
                $user = null;
            }
        ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="/css/style.css" rel="stylesheet">  -->
        <link href="/release/css/style.0.0.11.css" rel="stylesheet">
        
        <link rel="icon" type="img/png" href="img/favIcon_new.png">

        <!-- Scripts -->
        <!--<script data-main="/js/main" src="/js/vendor/requirejs/require.js"></script>-->
        <script data-main="/release/js/main.0.0.11.js" src="/js/vendor/requirejs/require.js"></script>
     <title>Qolve</title>
    </head>
    <body>
        <?php echo $this->content; ?>
    </body>
    <script type="text/javascript">
    var current_user = {};
    <?php if ($user) { ?>
            window.current_user = (<?= json_encode($user) ?>);
            window.current_user.credit = 0;
    <?php } ?>
    </script>
</html>
