<?php
$result = $this->identity();
if ($result) {
    $user = array(
        "id" => $result->getId(),
        "email" => $result->getEmail(),
        "username" => $result->getUsername(),
        "name" => $result->getName(),
        "imagePath" => $result->getImagePath(),
        "about" => $result->getAbout()
    );
} else {
    $user = null;
}
?>
<div class="navbar  navbar-inverse navbar-fixed-top"   
     
     <?php
        $url = preg_split('/\//', $_SERVER['REQUEST_URI']);
        if (!$user || (count($url) > 1 && $url[1] == 'signup')) { ?>
         style="display: none"
    <?php } ?>
         >
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse collapse">
                <?php if($user != null){?>
                <ul class="nav pull-right">                    
                    <li class="dropdown tinyman show-menu-by-hover">
                        <a class="dropdown-toggle navbar-item">
                            <div class="login-user-img">
                                <span class="login-default-user-small">
                                    <img src='<?= $user['imagePath'] ?>'/>
                                </span>
                            </div>
                            <div class="login-user-name"><?= $user['name'] ?></div>
                        </a>                        
                        <ul class="dropdown-menu nav-menu main-menu" role="menu" aria-labelledby="drop3">
                            <li>
                                <a class="menu-tag my-page" href="/users/<?= $user['id'] ?>">Profile</a>
                            </li>                            
                            <li>
                                <a class="menu-tag" href="/editProfile">Settings</a>
                            </li>
                            <li>
                                <a class="menu-tag" href="/findfriends">Find Friends</a>
                            </li>
                            <li>
                                <a class="menu-tag signout" href="/api/user/logout">Sign Out</a>
                            </li>
                        </ul>           
                    </li>
                    <li class="alarm-navbar" >
                        <span class="notifications-count"></span>
                        <img class="navbar-alarm" src="/img/alarm.png"/>
                    </li>

                </ul>
                <?php } else{?>
                    <a class="signin-signup" href="/login">Sign In / Sign Up</a>
                <?php }?>
                <ul class="nav pull-left">
                    <li class="navigate-qolve loading-menu">
                        <img src='/img/ajax-loader-menu.gif'/>
                    </li>
                    <li class="navigate-qolve">
                        <a href="/home" class="navbar-item">
                            <span class="home-icon">Home</span>
                            <!--<img class="home-img" src="/img/home_icon.png"/>-->
                        </a>
                    </li>
                    <?php if($user != null){?>
                        <li class="navigate-qolve new-problem" >
                            <a href="/newProblem" class="navbar-item">
    <!--                            <img class="home-img" src="/img/newQ.png"/>-->
                                <span >+ New problem</span>
                            </a>
                        </li>
                     <?php } ?>
                    <li>
                        <input class="search-toolbar" placeholder="#tags to search..."/>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>
