<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>

        <div style="background-color: #dfdfdf;padding: 12px 20px 20px 20px">
            <div style="padding: 0"><img src="<?php echo $this->baseUrl; ?>/img/qolveLogoForNotifMail.png" /></div>
            <div>
                <div style="padding: 3px 30px 24px 30px;background-color: #ffffff ; margin-bottom: 20px; margin-top:10px;">
                    <br>
                    <p>
                        Hi <span style="font-weight: bold"><?php echo $this->solver; ?></span>,<br><br>
                        <span style="font-weight: bold"><?php echo $this->asker; ?></span> just accepted your answer on
                        <?php  if($this->gender == 0){echo 'his';}else{echo 'her';}?> question.
                    </p>
                    
                    <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF; border-radius: 3px;">
                        <a target="_blank" rel="nofollow" href="<?= $this->baseUrl ?>/questions/<?= $this->questionId ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 14px">Click here to see the question</a>
                    </span>
                   <br> 
                    <span>If the button is not clickable, you can click on below link or copy and paste it into your browser's address box.
                     <br>
                    <a rel="nofollow" target="_blank" href="<?= $this->baseUrl ?>/questions/<?= $this->questionId ?>"><?= $this->baseUrl ?>/questions/<?= $this->questionId ?></a>
                    </span>
                </div>
            </div>
            <span style="color: #99999d; font-size: 12px">This email was intended for <?php echo $this->solver; ?>. If this email has come to you in error, please ignore it. <br>If you have any queries, please do not reply to this email but <a href="mailto:support@qolve.com">support@qolve.com</a><br>© 2014 The Qolve Team.</span>
        </div>
    </body>
</html>

