<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>

        <div style="background-color: #dfdfdf;padding: 12px 20px 20px 20px">
            <div style="padding: 0px">  <img src="<?= $this->baseUrl ?>/img/qolveLogoForNotifMail.png" /></div>
            <div>
                <div style="padding: 3px 30px 24px 30px;background-color: #ffffff ; margin-bottom: 20px; margin-top:10px;">
                    <br>
                    <p>
                        Hi <span style="font-weight: bold"><?php echo $this->name; ?></span>,<br><br>
                        <span style="font-weight: bold"><?php echo $this->writer; ?></span> just posted an answer on your question.
                    </p>
                    
                    <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF; border-radius: 3px;">
                        <a target="_blank" rel="nofollow" href="<?= $this->baseUrl ?>/questions/<?= $this->questionId ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 14px">Click here to see the answer</a>
                    </span>
                   <br> 
                   <span>
                        If the button is not clickable, you can click on below link or copy and paste it into your browser's address box.
                        <br>
                        <a target="_blank" rel="nofollow" href="<?= $this->baseUrl ?>/questions/<?= $this->questionId ?>"><?= $this->baseUrl ?>/questions/<?= $this->questionId ?></a>
                    </span>
                </div>

                <span style="color: #99999d; font-size: 12px">This email was intended for <?php echo $this->name; ?>. If this email has come to you in error, please ignore it. <br>If you have any queries, please do not reply to this email but
                    <a href="mailto:support@qolve.com">support@qolve.com</a><br>© 2014 The Qolve Team.
                </span>
            </div>
        </div>
    </div>
</body>
</html>

