<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>

        <div style="background-color: #dfdfdf;padding: 12px 20px 20px 20px;">
            <div style="padding:0px"><img src="<?= $this->baseUrl ?>/img/qolveLogoForNotifMail.png" /></div>
            <div>
                <br>
                <div style="padding: 3px 30px 24px 30px;background-color: #ffffff ; margin-bottom: 20px; margin-top:10px;">
                    <p>
                        Hi <span style="font-weight: bold"><?php echo $this->folloyee; ?></span>,
                        <br>
                        <span style="font-weight: bold"><?php echo $this->follower; ?></span> just started following you on Qolve.
                        <br>

                        <?php if($this->isFollowed == 1) { ?>
                            Start solving together.
                            <br>
                            <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF; border-radius: 3px;">
                                <a target="_blank" rel="nofollow" href="<?= $this->baseUrl ?>/users/<?php echo $this->followerUsername; ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 14px">View <?php echo $this->follower; ?>'s profile</a>
                            </span>
                        <?php } else { ?>
                            Follow <?php echo $this->follower; ?> back to solve together.
                            <br>
                            <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF; border-radius: 3px;">
                                <a target="_blank" rel="nofollow" href="<?= $this->baseUrl ?>/users/<?php echo $this->followerUsername; ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 14px">Follow back</a>
                            </span>
                        <?php } ?>
                     <br>
                     <span>
                         If the button is not clickable, you can click on below link or copy and paste it into your browser's address box.
                         <br>
                         <a target="_blank" rel="nofollow" href="<?= $this->baseUrl ?>/users/<?php echo $this->followerUsername; ?>"><?= $this->baseUrl ?>/users/<?php echo $this->followerUsername; ?></a>     
                     </span>
                    </p>
                </div>
                <span style="color: #99999d; font-size: 12px">This email was intended for <?php echo $this->folloyee; ?>. If this email has come to you in error, please ignore it. <br>If you have any queries, please do not reply to this email but <a href="mailto:support@qolve.com">support@qolve.com</a><br>© 2014 The Qolve Team.</span>       </div>
        </div>
    </div>
</body>
</html>

