<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body style="background-color: #dfdfdf; padding: 12px 20px 20px 20px">
        <div>            
            <div style="padding: 0px;"><img src="<?= $this->baseUrl ?>/img/qolveLogoForNotifMail.png" /></div>
            <div>
                <div style="padding: 3px 30px 24px 30px;background-color: #ffffff ; margin-bottom: 20px; margin-top:10px;">                
                    <p>
                        Hi <span style="font-weight: bold"><?php echo $this->name; ?></span>,<br><br>
                        We received a request to reset your Qolve account password. <br>
                            If you didn't do this, <a href="mailto:support@qolve.com">let us know</a>.
                        <br>
                    </p>
                    
                    <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF; border-radius: 3px;">
                        <a target="_blank" rel="nofollow" href="<?php echo($this->resetpath); ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 14px">Reset password</a>
                    </span>
                   <br>
                    <span>
                        If the button is not clickable, you can click on below link or copy and paste it into your browser's address box.
                        <br>
                        <a target="_blank" rel="nofollow" href="<?= $this->resetpath ?>"><?= $this->resetpath?></a>
                    </span>
                </div>                
                <span style="color: #99999d; font-size: 12px">This email was intended for <?php echo $this->name; ?>. If this email has come to you in error, please ignore it. <br>If you have any queries, please do not reply to this email but <a href="mailto:support@qolve.com">support@qolve.com</a><br>© 2014 The Qolve Team.</span>   
            </div>
        </div>
    </div>
</body>
</html>

