<!DOCTYPE html>
<html lang="en">
    <head>
    </head>

    <body style="background-color: #fff; border:20px solid #dedede;">
        <div style="padding: 20px;">
            <div><img src="http://whosolves.com/img/whoSolvesIconForMail.png" /></div>
            <div>
                <p style="font-weight: bold">Hi <span style="font-weight: bold"> <?php echo $this->name; ?></span>,</p>

                <div>
                    <span style="font-weight: bold">Congratulation! Welcome to WhoSolves!</span>
                    <br><br>
                    You just signed up under the username: <span style="font-weight: bold"><i> <?php echo $this->username; ?></i></span>
                </div>
                <br>
                <div style="padding: 3px 30px 24px 30px;background-color: #f2f2f2 ; margin-bottom: 20px;margin-top:10px;">
                    <p>
                        We’re thrilled to have you as a member of our community, and can't wait for you to start:
                    </p>
                    <ul>
                        <li>asking your problems for free or paid!</li>
                        <li>posting solutions for others' problems.</li>
                        <li>accepting a solution for your problem.</li>
                        <li>voting up or down solutions.</li>
                        <li>following others to keep track of their problems.</li>
                        <li>subscribing others' lists to explore more problems.</li>
                    </ul>

                    <p>Click this link to set your password and get started:</p>

                    <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF;">
                        <a target="_blank" rel="nofollow" href="<?php echo $this->resetpath; ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 12px">Click here to set your password</a>
                    </span>
                    <br>
                    <span>
                        If the button is not clickable, you can click on below link or copy and paste it into your browser's address box.
                        <a target="_blank" rel="nofollow" href="<?php echo $this->resetpath; ?>"><?= $this->resetpath ?></a>
                    </span>
                </div>

                Also,               
                <p style='margin-left:15px;'>
                    Here’s a great news for you! Be <span style="font-weight: bold">the most active user</span> on Whosolves until 23 February 2014 and get an <span style="font-weight: bold">iPad mini Retina 16GB!</span> Bear in mind, you should be the most active user and not the one with most credits!
                    <br/>
                </p>
                
                <p style='margin-left:15px;'>
                    To win the prize:
                </p>    
                
                <ul style='margin-left:15px;'>
                    <li style="margin-top:10px">                       
                        Start asking problems and offer solutions. Reask problems which are interesting to you and you also want to get an answer to. Raise credits for your problems and the problems you reask to get your solutions faster or to be on the generous side, to give others a higher motivation to solve your problem!
                    </li>

                    <li style="margin-top:10px">
                        To make you feel even more comfortable and at ease we recommend taking photos of your problems and solutions instead of writing them. In the next few days we will roll out the mobile version of our service so taking and uploading photos will get a lot easier. You’ll be of the first to know all about it!
                    </li>

                    <li  style="margin-top:10px">
                        Be the king in your realm of specialty! Create or follow tags to find more problems you can solve or to see what others have trouble in solving.
                    </li>
                  </ul>  
                  <br>
                    We highly appreciate any reports if a specific problem or solution is spam, personal attack, not readable, duplicate or has formatting issues. WhoSolves will follow your report and block spammers incase the report is confirmed.
                  <br><br>
                    We really appreciate to have your feedbacks on <a style="font-weight: bold" href="mailto:support@whosolves.com">support@whosolves.com</a>. Any issue or improvement that you report to <a style="font-weight: bold" href="mailto:support@whosolves.com">support@whosolves.com</a> will be considered as  <span style="font-weight: bold">a high score activity</span>.

                  <br><br>
                  <span style="color: #777777">If this email has come to you in error, please ignore it. If you have any queries, please do not reply to this email but <a style="font-weight: bold" href="mailto:support@whosolves.com">support@whosolves.com</a></span>


            </div>
            <br>
            <div style='font-weight: bold;'>
                Cheers, <br>
                The WhoSolves Team
            </div>
        </div>
    </div>
</body>
</html>

