<!DOCTYPE html>
<html lang="en">
    <head>
    </head>

    <body style="background-color: #fff; border:20px solid #dedede;">
        <div style="padding: 20px;">
            <div><img src="http://qolve.com/img/qolveIconForMail.png" /></div>
            <div>
                <p style="font-weight: bold">Hi <span style="font-weight: bold"> <?php echo $this->name; ?></span>,</p>

                <div>
                    <span style="font-weight: bold">Congratulations! Welcome to Qolve!</span>
                    <br><br>
                    You just signed up under the username: <span style="font-weight: bold"><i> <?php echo $this->username; ?></i></span>
                </div>
                <br>
                <div style="padding: 3px 30px 24px 30px;background-color: #f2f2f2 ; margin-bottom: 20px;margin-top:10px;">
                    <p>
                        We’re thrilled to have you as a member of our community, where:
                    </p>
                    <ul>
                        <li>you can Learn Earn! Start asking questions to add up to your knowledge by the minute. Share your never-ending knowledge with others and earn something on the side.</li>

                        <li>asking questions has never been this easy. Don’t bother to write down long descriptions, just take pictures of your questions and even better get an answer to it at the tap of a finger using your smartphone.</li>

                        <li>you can be the king in your realm of specialty! Create or follow tags to find more questions you can answer or to see what others have trouble in answering.</li>                        
                    </ul>

                    <p>Click this link to set your password and get started:</p>

                    <span style="display:inline-block;margin:10px 0px;background-color: #0099cc; padding: 4px 8px;color: #FFF;">
                        <a target="_blank" rel="nofollow" href="<?php echo $this->resetpath; ?>" style=" text-decoration:none;color: #FFFFFF; font-weight: bold; font-size: 12px">Click here to set your password</a>
                    </span>
                    <br>
                    <span>
                        If the button is not clickable, you can click on below link or copy and paste it into your browser's address box.
                        <a target="_blank" rel="nofollow" href="<?php echo $this->resetpath; ?>"><?= $this->resetpath ?></a>
                    </span>
                </div>

                <br><br>
                   Any feedback on the service is highly appreciated by our team at <a style="font-weight: bold" href="mailto:support@qolve.com">support@qolve.com</a>. 
                  <br><br>
                  <span style="color: #777777">If this email has come to you in error, please ignore it. If you have any queries, please do not reply to this email but <a style="font-weight: bold" href="mailto:support@qolve.com">support@qolve.com</a></span>


            </div>
            <br>
            <div style='font-weight: bold;'>
                Cheers, <br>
                The Qolve Team
            </div>
        </div>
    </div>
</body>
</html>

